
body {
    font-family: 'Noto Serif', serif; 
    padding: 0px;
    margin: 0px;
    margin: 0 auto;
}


#container {
    /*margin: 0 auto;*/
    padding-left: 10%;
    padding-right: 10%;
}

#header-nav{
    border-radius: 10px;

}
.menu-nav {
   padding: 10px;
   background-color: rgb(159, 232, 250);
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   border-bottom: solid;
   border-left: solid;
   border-radius: 0px 0px 20px 20px;
}

.menu-ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.menu-nav a  {
    margin-right: 10px;
    text-decoration: none;
    color: black;
    
 }
 .menu-nav a {
     

 }

 .menu-nav a:hover {
    background-color: rgb(11, 156, 149);
    border-radius: 0px 10px 0px 10px;
 }

.logo {
    width: 90px;
    height: 50px;
}

h1 {
    text-transform: uppercase;
    text-align: center;
}

#primeiro {
    display: grid;

    grid-template-columns: 4fr 1fr;

    grid-gap: 20px;
}

.principal {
    background-color: rgb(38, 186, 238);
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px;
    border: solid;
    border-radius: 10px;


}

.principal h2{
    text-align: center;
    margin: 20px;
    
}

.segundo {
    background-color: rgb(115, 210, 243);
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px;
    border: solid;
    border-radius: 10px;
}

.segundo h3{
    text-align: center;
    margin: 20px;
}


/*FOOTER*/
.rodape {
    /*background-color: rgb(255, 244, 224);*/
    margin-top: 20px;
    background-color: rgb(159, 232, 250);
    border-top: solid ;
    border-radius: 10px;
    }

.footer-pai{
    display: flex;
    width: 100%;
    justify-content: space-around;
    

}    

.footer-ul h2{
    font-size: 15px;
}

.itemFotter  {
    align-content:flex-start;
   
 }

.footer-ul  a{
   list-style: none;
   font-size: 12px;
   color: black;
   text-decoration: none;
   align-content: center;
  
}

.footer-ul  ul{
    list-style: none;
       
 }

 .footer-ul  a:hover{
        text-decoration: underline;
   
 }
